map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen 80 default_server;
    server_name _;

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 444;
    }
}

server {
    listen 80;
    server_name ${JENKINS_HOST} ${PLANE_HOST} ${DOCMOST_HOST} ${NEXUS_HOST} ${NEXUS_DOCKER_HOST} ${GRAFANA_HOST};

    location ^~ /.well-known/acme-challenge/ {
        root /var/www/certbot;
    }

    location / {
        return 308 https://$host$request_uri;
    }
}

server {
    listen 443 ssl default_server;
    http2 on;
    server_name _;

    ssl_certificate /etc/letsencrypt/live/${TLS_CERT_NAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${TLS_CERT_NAME}/privkey.pem;
    include /etc/nginx/snippets/tls.conf;

    return 444;
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${JENKINS_HOST};

    ssl_certificate /etc/letsencrypt/live/${TLS_CERT_NAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${TLS_CERT_NAME}/privkey.pem;
    include /etc/nginx/snippets/tls.conf;

    location / {
        proxy_pass http://jenkins-controller:8080;
        include /etc/nginx/snippets/proxy.conf;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${PLANE_HOST};

    ssl_certificate /etc/letsencrypt/live/${TLS_CERT_NAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${TLS_CERT_NAME}/privkey.pem;
    include /etc/nginx/snippets/tls.conf;

    client_max_body_size ${PLANE_NGINX_MAX_BODY_SIZE};

    location / {
        proxy_pass http://plane-proxy:80;
        include /etc/nginx/snippets/proxy.conf;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${DOCMOST_HOST};

    ssl_certificate /etc/letsencrypt/live/${TLS_CERT_NAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${TLS_CERT_NAME}/privkey.pem;
    include /etc/nginx/snippets/tls.conf;

    client_max_body_size ${DOCMOST_NGINX_MAX_BODY_SIZE};

    location / {
        proxy_pass http://docmost:3000;
        include /etc/nginx/snippets/proxy.conf;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${NEXUS_HOST};

    ssl_certificate /etc/letsencrypt/live/${TLS_CERT_NAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${TLS_CERT_NAME}/privkey.pem;
    include /etc/nginx/snippets/tls.conf;

    client_max_body_size ${NEXUS_NGINX_MAX_BODY_SIZE};

    location / {
        proxy_pass http://nexus:8081;
        include /etc/nginx/snippets/proxy.conf;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${NEXUS_DOCKER_HOST};

    ssl_certificate /etc/letsencrypt/live/${TLS_CERT_NAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${TLS_CERT_NAME}/privkey.pem;
    include /etc/nginx/snippets/tls.conf;

    client_max_body_size ${NEXUS_NGINX_MAX_BODY_SIZE};

    location / {
        proxy_pass http://nexus:5000;
        include /etc/nginx/snippets/proxy.conf;
    }
}

server {
    listen 443 ssl;
    http2 on;
    server_name ${GRAFANA_HOST};

    ssl_certificate /etc/letsencrypt/live/${TLS_CERT_NAME}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${TLS_CERT_NAME}/privkey.pem;
    include /etc/nginx/snippets/tls.conf;

    location / {
        proxy_pass http://grafana:3000;
        include /etc/nginx/snippets/proxy.conf;
    }
}
