NGINX_HTTP_PORT=80
JENKINS_HOST=jenkins.localhost
PLANE_HOST=plane.localhost
DOCMOST_HOST=docs.localhost
NEXUS_HOST=nexus.localhost
NEXUS_DOCKER_HOST=registry.localhost
GRAFANA_HOST=grafana.localhost
